{% extends '::layout.html.twig' %}

{% block stylesheet %}
{{ parent () }}
<link href="{{ asset('bundles/mdgame/css/main_body_game_card.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block fixed_design %}

	<div id="main">
		<div id="right_menu">
			
			{% if game.licence is not null %}
			<div id="licence_link">
				<h4>LICENCE</h4>
				<p id="img_licence"><a href="{{ path('md_licence_view', {'licence_id': game.licence.id}) }}"><img src="" alt=""><span id="licence_name">{{ game.licence.name|upper }}</span></a></p>
			</div>
			{% endif %}
			
			<ul id="amazon_links_right_menu">
				<li><a href=""><img src="" alt=""></a></li>
			</ul>

			{% if game.licence %}
			<h4>Jeux de la licence</h4>
			<ul class="similar_games">
				<li><a href=""><img src="" alt=""><span class="similar_games_name">Nom Jeu</span></a></li><!--
				--><li><a href=""><img src="" alt=""><span class="similar_games_name">Nom Jeu</span></a></li><!--
				--><li><a href=""><img src="" alt=""><span class="similar_games_name">Nom Jeu</span></a></li><!--
				--><li><a href=""><img src="" alt=""><span class="similar_games_name">Nom Jeu</span></a></li>
			</ul>
			{% endif %}

			<h4>Similaires</h4>
			<ul class="similar_games">
				<li><a href=""><img src="" alt=""><span class="similar_games_name">Nom Jeu</span></a></li><!--
				--><li><a href=""><img src="" alt=""><span class="similar_games_name">Nom Jeu</span></a></li><!--
				--><li><a href=""><img src="" alt=""><span class="similar_games_name">Nom Jeu</span></a></li><!--
				--><li><a href=""><img src="" alt=""><span class="similar_games_name">Nom Jeu</span></a></li>
			</ul>
			<p id="pub_right_menu">
			<img src="" alt="">
			</p>
		</div>
		<div id="content">
			{#<p><img src="{{ asset( '../' ~ game.coverimage.uploadDir ~ '/' ~ game.coverimage.id ~ '.' ~ game.coverimage.url) }}" alt="{{ game.coverimage.alt }}" id="ontop_img"></p>#}
			<h1>{{ game.name|upper }}</h1>
			<div id="game_infos_block">
				<div id="game_cover"><img src="" alt=""></div>
				<ul id="game_infos">
					<li><span class="game_infos_labels">Jeux :</span> <a href="{{ path('md_game_view', {'game_id': game.id}) }}">{{ game.name }}</a></li>
					{% if game.licence %}
					<li><span class="game_infos_labels">Licence :</span> <a href="{{ path('md_licence_view', {'licence_id': game.licence.id}) }}">{{ game.licence.name }}</a></li>
					{% endif %}
					<li><span class="game_infos_labels">Genre :</span> 
					{% for genre in game.genres %}	
						<a href="{{ path('md_genre_view', {'genre_id': genre.id}) }}">{{ genre.name }}</a>
					{% endfor %}
					</li>

					<li><span class="game_infos_labels">Éditeur :</span> 
					{% for publisher in game.publishers %}
						<a href="{{ path('md_publisher_view', {'publisher_id': publisher.id}) }}">{{ publisher.name }}</a>
					{% endfor %}
					</li>

					<li><span class="game_infos_labels">Développeur :</span> 
					{% for developer in game.developers %}
						<a href="{{ path('md_developer_view', {'developer_id': developer.id}) }}">{{ developer.name }}</a>
					{% endfor %}
					</li>

					<li><span class="game_infos_labels">Plateformes :</span> 
					{% for plateforme in game.plateformes %}
						<a href="{{ path('md_plateforme_view', {'plateforme_id': plateforme.id}) }}">{{ plateforme.name }}</a>
					{% endfor %}
					</li>

					<li><span class="game_infos_labels">Distribution PC :</span> 
					{# {% for market in game.markets %}
						<a href="{{ path('md_market_id', {'market_id': market.id}) }}">{{ market.name }}</a>
					{% endfor %} #}
					</li>

					<li><span class="game_infos_labels">Thèmes :</span> 
					{% for theme in game.themes %}
						<a href="{{ path('md_theme_view', {'theme_id': theme.id}) }}">{{ theme.name }}</a>
					{% endfor %}
					</li>

				</ul>
			</div>
			<hr>
			<h3>VIDEOS</h3>
			<p id="video_youtube"><img src="" alt=""><a href="" id="next_video">>></a></p>
			<hr>
			<h3>GALLERIE</h3>
			<ul id="gallerie_list_img">
				<li><a href=""><img src="" alt=""></a></li>
				<li><a href=""><img src="" alt=""></a></li>
				<li><a href=""><img src="" alt=""></a></li>
				<li><a href=""><img src="" alt=""></a></li>
				<li><a href=""><img src="" alt=""></a></li>
				<li><a href=""><img src="" alt=""></a></li>
				<li><a href=""><img src="" alt=""></a></li>
				<li><a href=""><img src="" alt=""><span id="img_list_plus">PLUS</span></a></li>
			</ul>
		</div>
	</div>
	<div class="clear"></div>

{% endblock %}
