{% extends "MDCoreBundle::layoutadmin.html.twig" %}

{% block title %}administration de genres{% endblock %}

{% block body %}

<p><a href="{{ path('md_core_game_genre_create') }}">Ajouter un genre</a></p>

<div id="list_functions">

<ul>
{% for l in listobjects %}
<li><a href="{{ path('md_core_game_genre_view', {'id': l.id}) }}">{{ l.name }}</a> <a href="{{ path ('md_core_game_genre_edit', {'id': l.id}) }}">edit</a>
{% if is_granted('ROLE_ADMIN') %}<a href="{{ path('md_core_game_genre_delete', {'id': l.id}) }}">delete</a>{% endif %}
</li>
{% endfor %}
</ul>

<ul>
{% for page in paging %}
<li><a href="{{ path('md_core_admin_game_genres', {'batch': batch, 'page': page}) }}">{{ page }}</a></li>
{% endfor %}
</ul>

</div>
{% endblock %}
