{% extends "::layoutbackend.html.twig" %}

{% block title %}Accueil profil utilisateur{% endblock %}

{% block stylesheet %}{{ parent() }}
<link href="{{ asset('bundles/mdcore/css/main_body_admin_home.css') }}" type="text/css" rel="stylesheet">{% endblock %}

{% block main %}

		<div id="content">
			<div id="user_infos">
				<img src="{#{{ asset('/blog/' ~ app.user.profil_image.url) }}#}" alt="" />
				<h2>{{ app.user.username|upper }}</h2>
				<ul id="info_title_admin">
					<li>Role : {% if is_granted("ROLE_WRITTER") %}Rédacteur{% elseif is_granted("ROLE_USER") %}membre{% elseif is_granted("ROLE_ADMIN") %}administrateur{% elseif is_granted("ROLE_SUPER_ADMIN")%} administrateur{% endif %}</li>
					<li>Date de naissance : {{ app.user.birthdate|date("d/m/Y") }}</li>
					<li>adresse mail : {{ app.user.email }}</li>
				</ul>
			</div>
			{#{% if is_granted("ROLE_WRITER") %}#}
				<div id="last_articles">
					<h2>DERNIERS ARTICLES</h2>
					<ul>
						{% for art in articles %}
							<li><a href=""><img src="{{ '/blog/' ~ art.coverimage.url }}" alt="" /><span class="name_article">{{ art.title }}</span></a></li>
						{% endfor %}
					</ul>
				</div>
			{#{% endif %}#}
		</div>
	<div class="clear"></div>

{% endblock %}
