{% extends "::layoutbackend.html.twig" %}

{% block stylesheet %}
{{ parent() }}
	<link href="{{ asset('bundles/mdgame/css/main_body_admin_management.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block main %}
<div id="content">
	<div id="add_button"><a href="{{ path('md_plateforme_create') }}">+ Ajouter une plateforme</a></div>
	<div id="list_news">
		<table class="elements_table">
			<tr class="titles_line">
				<th class="name_element_first_line">Titre de la news</th>
				<th class="edit_element_first_line">edit</th>
				<th class="delete_element_first_line">delete</th>
			</tr>
{% for plateforme in plateformes %}
			<tr class="{% if loop.index is divisible by(2) %}pair_line{% else %}impair_line{% endif %}">
				<td><a href="{{ path('md_plateforme_edit', {'plateforme_id': plateforme.id}) }}">{{ plateforme.name }}</a></td>
				<td><a href="{{ path('md_plateforme_edit', {'plateforme_id': plateforme.id}) }}"><img src="{{ asset('img/edit_icon_32.png') }}" alt="" /></a></td>
				<td><a href="{{ path('md_plateforme_delete', {'plateforme_id': plateforme.id}) }}"><img src="{{ asset('img/delete_icon_32.png') }}" alt="" /></a></td>
			</tr>
{% endfor %}
		</table>
	</div>
</div>
{% endblock %}
