{% extends "MDCoreBundle::layout.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
	<h1>Categories</h1>
	<p>
	    <ul>
	        {% for cat in listCat %}
		    <li>id: {{ cat.id }}, nom: {{ cat.name }}, type: {{ cat.type }}</li>{# mettre bouton delete et edit #}
	        {% endfor %}
	    </ul>
	</p>
	<p>
	    <ul>
	        {% for page in pages %}
	            <li><a href="{{ path('md_core_category_viewbatch', {'batch': batch_category, 'page': page}) }}">{{ page }}</a></li>
	        {% endfor %}
	    </ul>
	</p>
{% endblock %}
